@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
.leaflet-container {
  width: 70vw;
  height: 80vh;
}
nav {
  padding: 1rem 1.5rem;
  background-color: rgb(78, 123, 247);
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
nav .logo {
  color: white;
  font-family: "Ubuntu", sans-serif;
  font-size: 2rem;
  letter-spacing: 2px;
}
nav .search-section {
  display: flex;
  flex-direction: row;
  align-items: center;
}
nav .search-section .text {
  color: white;
  font-size: 1.3rem;
  padding: 0 0.5rem;
}
nav .search-section input {
  color: black;
  font-size: 1.05rem;
  outline: none;
  padding: 0.5rem 0.5rem;
  border: none;
}
nav .search-section .input {
  position: relative;
}
nav .search-section .input .suggestions {
  position: absolute;
  top: auto;
  left: 0;
  width: 100%;
  z-index: 10;
}
nav .search-section .input .suggestions div {
  padding: 0.6rem 0.5rem;
  background-color: white;
  width: 100%;
  border-top: 1px solid rgb(184, 184, 184);
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
}
nav .search-section .input .suggestions div img {
  margin-right: 4px;
}
nav .search-section .input .suggestions div:hover {
  background-color: rgb(209, 209, 209);
}
nav .search-section .input .suggestions div:last-child {
  border-bottom: 1px solid rgb(184, 184, 184);
}
.leaflet-control-attribution {
  display: none;
}
.leaflet-container {
  z-index: 2;
}
.hero-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.hero-container .info-section {
  padding: 1rem;
  background-color: rgb(207, 207, 207);
}
